In [2]:
#3(iv) 
""" ** is used to raise power of first and second number goes in power of first number example 3**2 = 9"""

' ** is used to raise power of first and second number goes in power of first number example 3**2 = 9'

In [25]:
num1 = 3
num2 = 2
print( "num3: ", num1 ** num2)

num3:  9

In [26]:
#4

In [5]:
student_list =['ram', 'sita',12,34,23.4,23,'bhim','sudh',True ,344.2333]

In [6]:
for i in student_list :
    print(i)
    print(type(i))

ram
<class 'str'>
sita
<class 'str'>
12
<class 'int'>
34
<class 'int'>
23.4
<class 'float'>
23
<class 'int'>
bhim
<class 'str'>
sudh
<class 'str'>
True
<class 'bool'>
344.2333
<class 'float'>

In [16]:
#6 
l = [11,23,3,4,24,2,42,455,54,32,45,56,65,76,57,34,4,4.3,24.5,25.2,2435,35,290,344,43]
len(l)
for i in l:
    if i%3==0 :
        print("Number " ,i, "is divisible by 3")
    else :
         print("Number" ,i ," is not divisible by 3")

Number 11  is not divisible by 3
Number 23  is not divisible by 3
Number  3 is divisible by 3
Number 4  is not divisible by 3
Number  24 is divisible by 3
Number 2  is not divisible by 3
Number  42 is divisible by 3
Number 455  is not divisible by 3
Number  54 is divisible by 3
Number 32  is not divisible by 3
Number  45 is divisible by 3
Number 56  is not divisible by 3
Number 65  is not divisible by 3
Number 76  is not divisible by 3
Number  57 is divisible by 3
Number 34  is not divisible by 3
Number 4  is not divisible by 3
Number 4.3  is not divisible by 3
Number 24.5  is not divisible by 3
Number 25.2  is not divisible by 3
Number 2435  is not divisible by 3
Number 35  is not divisible by 3
Number 290  is not divisible by 3
Number 344  is not divisible by 3
Number 43  is not divisible by 3

In [21]:
#7
'''Answer 7 
Mutable data type  are those that allow you to change their value or 
data in place without affecting the object's identity. In contrast, immutable data type don't allow this kind of operation
list,dictionary ,set are mutable data type and Tuple,string ,number are immutable datatype  '''
#list 
l = [35,53,'sachin',True,242.3]

In [23]:
type(l)

list

In [26]:
l[2]

'sachin'

In [29]:
l[2] = 'ramesh'
l[2]

'ramesh'

In [30]:
#so it is mutable

In [32]:
t =(32.3,33,54,'raj')
type(t)

tuple

In [34]:
t[2]

54

In [35]:
t[2] =324
t[2]

TypeError: 'tuple' object does not support item assignment

In [36]:
# tuple is not mutable

In [65]:
#5
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))

count = 0

while A % B == 0:
    A = A / B
    count += 1

if count > 0:
    print(f"Number A is divisible by B, and it can be divided ",count,"times.")
else:
    print("Number A is not divisible by B.")

Enter number A:  25
Enter number B:  5

Number A is divisible by B, and it can be divided  2 times.